{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "edge": "17",
          "firefox": "64",
          "chrome": "74",
          "safari": "11.1",
        },
        "useBuiltIns": "usage",
        "corejs": 3,
      }
    ]
  ]
}
